.pixels{
   background-color :orange;
  display: flex;
  }

  .pixels1{
    display: flex;
    gap: 27px;
    margin-left: 758px;
    margin-top: 2px;
  }

  .pixels2 img{
    width: 1335px;
    height: 516px;
  }

  
.pixels2{
    position: relative;
}

.pixels3{
    position: absolute;
    top: 72px;
    left: 266px;
    color: white;
}

.pixels2 h1{
    font-size: 80px;
}

.pixels2 p{
 font-size: 42px;
    margin-top: -47px;
    margin-left: -53px;
}

.pixels4{
    display: flex;
    margin: 40px;
}

.box2{
  display: flex;
}

.box div{
  border: 1px solid black;
}
.box2 h1{
 margin-left: 180px;
}

.box2 h2{
 margin-left: 120px;
}

.box2 p{
 margin-left: 40px;
}

.clint{
  display: flex;
  margin-bottom: 30px;
}

.clint1 div{
  border: 1px solid black;
}

.clint img{
  height: 79px;
  margin-left: 162px;
}

.clint h2{
  margin-left: 151px;
}

.clint p{
  padding: 20px;
}

.call img{
  width: 1335px;
  height: 543px;
}

.flex{
  display: flex;
}

.flex img{
 height: 420px;
    width: 438px;
    margin: 2px;
    border-radius: 40px;
}

.call{
  position: relative;
  
}

.call1{
  position: absolute;
      top: 141px;
    left: 516px;
    font-size: 33px;
  color: blue;
}

.call2 img{
     height: 461px;
    width: 1336px;
     border-radius: 40px;
}
.card{
  border: 1px solid black;
  gap: 20px;
  background-color: yellow;
}

.card7{
  border: 1px solid black;
  gap: 20px;
    background-color: yellow;
}

.card6{
  border: 1px solid black;
  gap: 20px;
    background-color:yellow;
}
.card1{
  display: flex;
  margin: 10px;
  gap: 20px;
  
}

.card5 {
  margin-left: 30px;
  padding: 20px;
}

.card1 button{
  background-color: orange;
  width: 90px;
  height: 30px;
  border-radius: 20px;
}

.sub{
  display: flex;
  gap: 32px;
}

.sub2{display: flex;}

.sub img{
    height: 36px;
    width: 38px;
    margin-left: 73px;
}
.sub input{
   height: 36px;
    width: 281px;
}

.sub3 img{
  width: 676px;
}

.form{
  margin: 10px;
}

.form1{
  display: flex;
  gap: 40px;
}

.from2{
  display: flex;
  gap: 63px;
}

.from2 img{
  margin-left: 45px;
}

.from2 input{
  height: 44px;
  width: 614px;
}


.form3{
  display: flex;
  gap: 157px;
}
.form3 textarea{
  height: 85px;
  width: 534px;
}

.form3 img{
  margin-left: 36px;
}

.send   {
background-color: orange;
  width: 90px;
  height: 30px;
  border-radius: 20px;

}
.login{
  display: flex;
}

.login2{
  display: flex;
  gap: 30px;
}

.login2 img{
  height: 62px;
  width: 66px;
}

.footer{
  display: flex;
  gap: 160px;
  color: white;
  background-color: black;
  margin-top: -21px;
}

body{
background-color:rgba(255, 166, 0, 0.973);
}

  /* *{ background-color:gray;
}
    */